APIFlask==2.4.0
apispec==6.8.2
blinker==1.9.0
click==8.2.1
colorama==0.4.6
dotenv==0.9.9
Flask==3.1.1
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.3.0
inquirerpy==0.3.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==4.0.0
mysql-connector-python==9.4.0
packaging==25.0
pfzy==0.3.4
prompt_toolkit==3.0.51
python-dotenv==1.1.1
wcwidth==0.2.13
webargs==8.7.0
Werkzeug==3.1.3
